*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#400036;
    padding: 15px;
    text-align: center;
    font-size: 2em;
    color: #FF81D0;
}
nav{
    background-color: #F2CB05;
    padding: 15px;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: #400036;
    font-weight: bold;
}
main > h3{
    text-align: center;
    color: #FF81D0;
    padding: 5px;
}
 div > img{
    display: flow-root;
    margin: 0 auto;
    padding-top: 30px ;
}
div{
    flex: flex;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 5px 11px gray;
    width: 400px;
    height: 500;
    padding-top: 30px;
    cursor: pointer;
}